<h1>Timesheet</h1>
<table>
  <thead>
    <tr>
      <th scope='col'></th>
      <th scope='col'>Monday</th>
      <th scope='col'>Tuesday</th>
      <th scope='col'>Wednesday</th>
      <th scope='col'>Thursday</th>
      <th scope='col'>Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AM Start</th>
      <td>09:00</td>
      <td>09:00</td>
      <td>09:00</td>
      <td>09:00</td>
      <td>09:00</td>
    </tr>

    <tr>
      <th>AM Finish</th>
      <td>12:00</td>
      <td>12:00</td>
      <td>12:00</td>
      <td>12:00</td>
      <td>12:00</td>
    </tr>

    <tr>
      <th>PM Start</th>
      <td>13:00</td>
      <td>13:00</td>
      <td>13:00</td>
      <td>13:00</td>
      <td>13:00</td>
    </tr>

    <tr>
      <th>PM Finish</th>
      <td>17:00</td>
      <td>17:00</td>
      <td>17:00</td>
      <td>17:00</td>
      <td>17:00</td>
    </tr>
  </tbody>
</table>