<form action='/timesheet/current'>
   <input class='entries-button' type='submit' value='View Timesheets'>
</form>

<%= form_tag '/entries' do %>
   <%= submit_tag "Make Entry", class: 'big-round-button' %>
<% end %>

<%= flash[:too_many_entries] %>
