<section class="container">
   <div class="box">
      <%= form_tag '/entries' do %>
         <%= submit_tag "Make Entry", class: 'big-round-button' %> <br>

      <form action='/timesheet/current'>
         <%= "The time is #{Time.now.strftime("%H:%M")}" %> 
      </form>
      <% end %>

      <br>
      <%= flash[:too_many_entries] %>
   </div>
</section>
