<section class="container">
   <div class="box">
      <h2><%= "Current time: #{Time.now.strftime("%H:%M")}" %></h2>
      <%= form_tag '/entries' do %>
         <%= submit_tag "Make Entry", class: 'big-round-button' %> <br>
      <% end %>

      <br>
      <%= flash[:too_many_entries] %>
   </div>
</section>
