<h1>Entries</h1>
<form action='/timesheet/current'>
   <input type='submit' value='View Timesheets'>
</form>

<%= form_tag '/entries' do %>
   <%= submit_tag "Make Entry" %>
<% end %>

<%= flash[:too_many_entries] %>
