/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
}

 body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  font-size: 0.8em;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24d5f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-link {
  display: block;
  color: black;
  text-align: center;
  padding: 1em 0.5em;
  text-decoration: none;
  transition-duration: 0.2s;
}

.navbar-link:hover {
  background-color: rgb(131, 156, 173);
}

.navbar-push {
  margin-left: auto;
}

.welcome-button {
  background-color: #cbeff5; 
  border: none;
  border-radius: 4px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.2s;
  font: 0.8em sans-serif;
  margin: 1em;
  padding: 1em 1em;
}

.welcome-button:hover {
  background-color: #24d5f2;
  color: white;
  cursor: pointer;
}

.entries-button {
  background-color: #cbeff5; 
  border: none;
  border-radius: 4px;
  color: black;
  text-align: center;
  text-decoration: none;
  
  transition-duration: 0.2s;
  font: 0.8em sans-serif;
  margin: 1em;
  padding: 1em 1em;
}

.entries-button:hover {
  background-color: #24d5f2;
  color: white;
  cursor: pointer;
}

.big-round-button {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin: 2em;
  background-color: #cbeff5; 
  border-style: none;
  transition-duration: 0.2s;
}

.big-round-button:hover {
  cursor: pointer;
  background-color: #24d5f2;
  color: white;
}

.timesheet-button {
  background-color: #e7e7e7;
  border: none;
  border-radius: 4px;
  color: black;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.2s;
  margin: 5px;
}

.timesheet-button:hover {
  background-color: #9b9e9c;
  color: white;
  cursor: pointer;
}

.timesheet {
  font-size: 1em;
}

@media (max-width: 800px) {
  .timesheet {
    font-size: 0.8em;
  }
}