/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
}

.about-us-box {
  margin-top: 3em;
  height: 36em;
  width: 40em;
  border-radius: 30px;
  display: flex;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: white;
  text-align: center;
}

.about-text {
  text-align: left;
  padding: 0.5em 1em;
  line-height: 1.5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cbeff5;
  overflow: hidden;
}

.custom-title-text {
  margin-bottom: 0%;
}

.error-message {
  margin: 2px auto;
  text-transform: capitalize;
  width: 90%;
  background-color: #FFFF33;
  padding: 2px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.navbar {
  z-index: 10000;
  font-size: 1.3em;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24d5f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-link {
  display: block;
  color: black;
  text-align: center;
  padding: 1em 0.5em;
  text-decoration: none;
  transition-duration: 0.2s;
}

.navbar-link:hover {
  background-color: rgb(131, 156, 173);
}

.navbar-push {
  margin-left: auto;
}

.big-round-button-disabled {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin: 2em;
  background-color: lightgray;
  border-style: none;
  color: black;
}

.timesheet-button {
  background-color: #e7e7e7;
  border: none;
  border-radius: 4px;
  color: black;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.2s;
  margin: 5px;
}

.timesheet-button:hover {
  background-color: #9b9e9c;
  color: white;
  cursor: pointer;
}

.timesheet {
  font-size: 1em;
}

.navbar-logo {
  width: 2.5em;
}

#navbar-image {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  margin-top: 0.2em;
}

#navbar-title {
  display: inline;
  margin-left: 0.5em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  font-size: 1.5em;
  position: absolute;
  top: -17.5%;
}

@media (max-width: 800px) {
  .timesheet {
    font-size: 0.8em;
  }

  .navbar {
    font-size: 0.9em;
  }

  #navbar-title {
    visibility: hidden;
  }

  .about-us-box {
    height: 40em;
    margin-top: 0em;
  }

  .about-text {
    text-align: left;
    padding: 0 1em;
  }
}

footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

#about-link {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

#about-link:hover {
  color: rgb(131, 156, 173);
}