.edit-entry-box {
  margin-top: 3em;
  height: 26em;
  width: 50em;
  border-radius: 30px;
  display: flex;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: white;
  text-align: center;
}