.welcome-container {
  height: 70%;
  width: 100%;
  border-radius: 10%;
  display: flex;
  border-style: groove;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.welcome-button {
  background-color: #cbeff5; 
  border: none;
  border-radius: 4px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.2s;
  font: 0.8em sans-serif;
  margin: 1em;
  padding: 1em 1em;
}

.welcome-button:hover {
  background-color: #24d5f2;
  color: white;
  cursor: pointer;
}