<div class="container">
  <section class="about-us-box">
    <h1>How to Use?</h1>
    <h3 class='custom-title-text'>Make an Entry</h3>
    <p class='about-text'>Click 'Clock In/Out' and press the round button to clock in. Each time the button is pressed, a new value is recorded: AM Start, AM Finish, PM Start and PM Finish.<br><br>If you make a mistake, entries can be edited in the 'Timesheet'.</p>
    
    <h3 class='custom-title-text'>Edit an Entry</h3>
    <p class='about-text'>Visit 'Timesheets', navigate to the week that you wish to edit and click on the desired entry. Enter the new time and click 'Submit'.</p>

    <h3 class='custom-title-text'>Export a Timesheet</h3>
    <p class='about-text'>Visit 'Timesheets', navigate to the desired week and click 'Export' to download a spreadsheet containing the week's entries.</p>
    <%= button_to 'Go Back', :back, method: :get, class: 'timesheet-button' %>
  </section>
</div>