<div class="container">
  <section class="about-us-box">
    <h1>How to Use?</h1>
    <p class='about-text'>You must be signed in to use this application.</p>
    <h3 class='custom-title-text'>Make an Entry</h3>
    <p class='about-text'>Click 'Clock In/Out' and press the round button to clock in.</p>
    
    <h3 class='custom-title-text'>Edit an Entry</h3>
    <p class='about-text'>Visit 'Timesheets', navigate to the week that you wish to edit and click on the entry to be edited. Enter the new time and click submit.</p>

    <h3 class='custom-title-text'>Export a Timesheet</h3>
    <p class='about-text'>Visit 'Timesheets', navigate to the desired week and click 'Export' to download a spreadsheet containing that weeks entries.</p>
    <%= button_to 'Go Back', :back, method: :get, class: 'timesheet-button' %>
  </section>
</div>